footer {
  padding: 2rem;
  background-color: var(--light-color);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
}

footer .footer p strong {
  font-size: 14px;
}